{%extends "./shared/layout.html"%}
{%block head%}
<title>Backbone</title>
{% endblock %}

{%block body%}
<header class="jumbotron">
    <div class="container">
        <h1>Backbone Order Website</h1>
        <p>This is test title</p>
    </div>
</header>
<section>
    <!-- 網格系統 container > row > .col -->
    <div class="container">
        <div class="row">
            {%for product in product_list%}
            <div class="col-md-2">
                <!-- 快捷
                    b4-card-default -->
                <div class="card mb-5">
                    <img class="card-img-top" src={{product.image}} alt="{{product.title}}">
                    <div class="card-body">
                        <h4 class="card-title">{{product.title}}</h4>
                        <p class="card-text">${{product.price}}NTD</p>
                        <a class="btn btn-secondary" href="product/{{loop.index0}}">ShowDetails</a>
                    </div>
                </div>
            </div>
            {%endfor%}`
        </div>
    </div>
</section>
{% endblock %}